@import "tailwindcss";

html, body{
  margin: 0;
  background: #FAFAFA;
}

@layer base {
  
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  
  :root {
    --font-sans: 'Geist', sans-serif;
    /*--font-display: 'Gelasio', sans-serif;*/
  }
}

@layer utilities {
  /*.font-display {
    font-family: var(--font-display);
    letter-spacing: -0.05em;
  }*/
  .font-sans {
    font-family: var(--font-sans);
    letter-spacing: -0.05em;
  }
  .noscrollbar {
    scrollbar-width: none;
  }
}
